doctype html
html(lang="es")
  - var home = true
  - var organization = true
  include _partials/head
  body.home
    include _partials/mixins  
    #page.hfeed.site 
      //- HEADER DEL SITIO
      include _modules/header
      #content.site-content(tabindex='-1') 
        #primary.content-area
          main#main.site-main(role='main')
            //- header.entry-header
            //-   h1.entry-title ¡Hola mundo!
            //- CARGA
            include _layouts/quienes-somos 
            include _modules/footer
            include _partials/footer 
    // #page
