 
//- script(src="https://code.jquery.com/jquery-3.2.1.min.js") 
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
script(src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js")
script(src="assets/js/app.min.js") 
