head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  if(home)
    include ./metas-home   
  link(rel="shortcut icon", href="icon/favicon.ico")
  link(rel="stylesheet", href="assets/css/materialize.css") 
  link(rel="stylesheet", href="assets/css/style.css")
  link(rel="stylesheet", href="assets/css/iconos.css")
  link(rel="stylesheet", href="assets/css/cssEcommerce.css")  
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.min.css")
