section#contacto
    .container
        .titulo.other
            h2
                span
                    |Contacto


        form.col.s12
            .row
                .input-field.col.s12.m4.l4
                    input#nombre.validate( type='text')
                    |            
                    label(for='nombre') Nombre Completo
                |          
                .input-field.col.s12.m4.l4
                    input#email.validate(type='email')
                    |            
                    label(for='email') Correo Electrónico
                
                .input-field.col.s12.m4.l4
                    input#tel.validate(type='tel')
                    |            
                    label(for='tel') Telefono
            
                .input-field.col.s12
                    textarea#mensaje.materialize-textarea
                    |            
                    label(for='mensaje') Ingrese su consulta..
                
            .row
                .input-field.col.s12
                    a.waves-effect.waves-light.btn.bg-c3 Enviar
             