//- footer#footer
footer#colophon.site-footer(role='contentinfo')
    img(src="assets/images/logo.jpeg", alt="")
    br
    br
    ul.inline.redes 
        li
            a(href="http://")
                span.fa.fa-facebook 
        li
            a(href="http://")
                span.fa.fa-whatsapp
    br
    br
    p
        |Corporación CBR es un proyecto de
        a(href="") 
            |Grupo Aizen
    p   
        | ⓒ 2018 Todos los derechos reservados.