header#masthead.site-header(role='banner', style=' ')
    .menu-top
        .container.row
            .col.s12.l6.m6
                ul.inline
                    li
                        span.fa.fa-phone 
                        |  999-999-999 |
                    li
                        span.fa.fa-envelope 
                        |  ventas@corporacioncbr.com
            .col.s12.l6.m6
                ul.inline.right.redes
                    li
                        |Siguenos en:
                    li
                        a(href="http://")
                            span.fa.fa-facebook 
                    li
                        a(href="http://")
                            span.fa.fa-whatsapp
                    

                
    nav
        .container
            .nav-wrapper
                a.brand-logo(href='#') 
                    img(width="180px",src="assets/images/logo.jpeg", alt="", srcset="")         
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href='home.html') INICIO
                    li
                        a(href='quienes-somos.html') QUIENES SOMOS
                    li
                        a(href='servicios.html') CATEGORIAS  
                    li
                        a(href='contacto.html') CONTACTO 