header#menu
    nav
        .container
            .nav-wrapper
                a.brand-logo(href='#') 
                    img(width="180px",src="img/logo.svg", alt="", srcset="")         
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a.active(href='home.html') INICIO
                    li
                        a(href='nosotros.html') NOSOTROS 
                    li
                        a(href='servicios.html') SERVICIOS 
                    li
                        a(href='blog.html') BLOG
                    li
                        a(href='contacto.html') CONTACTO
                    li
                        a(href="http://").call
                            |LLÁMANOS AL 
                            b 997 921 175
                    li
                        a.redes(href="http://")
                            span.ga-facebook
                    li
                        a.redes(href="http://")
                            span.ga-linkedin
                    li
                        a.redes(href="http://")
                            span.ga-twitter